/*** OBECNÉ ***/
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

/*** HEADER ***/
.custom-header {
    background: #1598a8 url(https://2020.prague.wordcamp.org/files/2016/11/prague.jpg) !important;
    background-size: cover!important;
}
.site-title a:before {
    background-image: url(https://2020.prague.wordcamp.org/files/2019/05/wp_logo-e1559134843691.png) !important;
}
.page-navigation-container ul {
    margin: 0 auto;
}


