/*** GENERAL ***/
body, h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif !important;
}
.page h1.entry-title, .postid-1114 h1.entry-title, .postid-1341 h1.entry-title, .postid-3305 h1.entry-title, .postid-3478 h1.entry-title {
    color: #cb032b!important;
}
.page header.entry-header, .postid-1114 header.entry-header, .postid-1341 header.entry-header, .postid-3305 header.entry-header, .postid-3478 header.entry-header {
    background: url(https://2020.prague.wordcamp.org/files/2019/05/background-line-praha.png)!important;
    background-repeat: repeat-x;
    background-position: 0;
}
.entry-content a {
    color: #cb032b!important;
    box-shadow: inset 0 -1px 0 0 rgba(203,3,43,.5)!important;
    font-weight: normal!important;
}
.site-info-network {
    background-color: #cb032b!important;
}

/*** HEADER ***/
.custom-header {
    background: #1598a8 url(https://2020.prague.wordcamp.org/files/2016/11/prague.jpg) !important;
    background-size: cover!important;
}
.site-title a:before {
    background-image: url(https://2020.prague.wordcamp.org/files/2019/05/wp_logo-e1559134843691.png) !important;
    width: 230px !important;
    height: 230px !important;
}
@media (min-width: 48em) {
    .site-header .site-branding {
        padding: 7rem 2rem !important;
    }
    .home .site-header .site-branding {
        padding: 10.5rem 3rem !important;
    }
}   
.site-title {
    font-size: 2em !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}
.site-title a:active, .site-title a:focus, .site-title a:hover {
    color: #fff!important;
}
.page-navigation-container ul {
    margin: 0 auto;
}
.menu-item a {
    font-weight: bold;
}
.current-menu-item>a {
    background-color: #cb032b!important;
}





