/*** OBECNÉ ***/
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif !important;
}

/*** HEADER ***/
.custom-header {
    background: #1598a8 url(https://2020.prague.wordcamp.org/files/2016/11/prague.jpg) !important;
    background-size: cover!important;
}
.site-title a:before {
    background-image: url(https://2020.prague.wordcamp.org/files/2019/05/wp_logo-e1559134843691.png) !important;
}
.site-title {
    font-size: 2em !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}
.site-title a:active, .site-title a:focus, .site-title a:hover {
    color: #fff!important;
}
.page-navigation-container ul {
    margin: 0 auto;
}
.menu-item a {
    font-weight: bold;
}


